/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: #807e7b;
 }

.container {
}

.map {
  width: 100vw;
  height: 100vw;
  max-height: 100vh;
  max-width: 100vh;
  position: absolute;
  margin: 20px;
  box-sizing: border-box;
  top:0;bottom:0; /* vertical center */
  left:0;right:0; /* horizontal center */
  background-color: #cadec6;
}

.leaderboard {
  margin: 20px 0px 0 0;
  padding: 10px 20px 10px 20px;
  position: absolute;
  right: 0px;
  width: 250px;
  box-sizing: border-box;
  z-index: 2;
  background-color: white;

}

.tile {
  flex: 1 0 auto;
  height:auto;
  min-width: 1px;
  box-sizing: border-box;
}
.tile:before {
  content:'';
  float:left;
  padding-top:100%;
}

.wall {
  background: #474139;
}

.row {
  display: flex;
  justify-content: space-around;
}


.snake {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.head {
  border-radius: 100px;
  position: relative;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,0.4);
}

.snake-name {
  position: absolute;
  top: -15px;
  left: 10px;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  padding: 3px 5px;
  border-radius: 3px;
  font-size: 80%;
  white-space: nowrap;
}

.leaderboard ol {
  padding-inline-start: 25px;
}

.leaderboard li {
  background: greenyellow;
}

.leaderboard .dead {
  opacity: 0.5;
  text-decoration: line-through;
  background: inherit;
}

.entity {
  position: absolute;
}

.length {
  font-weight: bold;
  display: inline-block;
  padding-left: 10px;
}