/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body {
  font-family: Helvetica, Arial, sans-serif;
 }

.map {
  width: 75%;
  max-height: 100vh;
}

.tile {
  flex: 1 0 auto;
  height:auto;
  min-width: 1px;
}
.tile:before {
  content:'';
  float:left;
  padding-top:100%;
}

.wall {
  background: #333;
}

.row {
  display: flex;
  justify-content: space-around;
}


.snake {
  width: 100%;
  height: 100%;
}

.head {
  border-radius: 100px;
  position: relative;
  border: 1px solid rgba(0,0,0,0.4);
}

.snake-name {
  position: absolute;
  top: -15px;
  left: 10px;
  background-color: black;
  color: #fff;
  opacity: 0.8;
  padding: 3px 5px;
  border-radius: 3px;
  white-space: nowrap;
}

.body {
}